<h1>Sign Up!</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="User name"/>
    <input type="text" name="password" placeholder="Password"/>
    <button>Sign Up</button>
</form>